<!doctype html>
<html>
    <head>

        <title>Biophotonics Imaging Lab</title>

        <!-- SEO and mobile format declarations -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Yash Agrawal | Project/Biophotonics">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="../img/webicon.png" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="../css/main.css" rel="stylesheet">
        <link href="../css/project.css" rel="stylesheet">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65874311-9"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-65874311-9');
        </script>


    </head>
    <body>
        <div class="no-overflow">
            <div class="content">
                <div class="header">
                    <a class="anchor" href="/"><p><strong>YASH</strong> AGRAWAL</a>
                        <span class="links"><a class="anchor" href="/about">About</a></span>
                        <span class="links"><a class="anchor" href="/work"> Work</a></span>
                    </p>
                </div>
                <p class="project-title">Biophotonics Imaging Lab</p>
                <p class="project-subtitle">Summer 2015 - Research Intern</p>
            </div>
            <img class="background img-responsive" src="../img/project/biophotonics/background.png">
            <div class="content">
                <p class="section-title">Summer 2015</p>
                <p class="article">During the Summer of 2015, I worked as a research assitant with the Biophotinics Imaging Laboratory. Here are my notes to basically describe what the research was about. </br></br>
                    Basically, the goal of the research is to quantify the mechanical properties of materials (industrial materials or biological samples). While most nano indentation instrument is extremely expensive, the research intends to replace it with an imaging device named optical coherence tomography (OCT) which has lower cost. </br></br>
                    OCT can be regarded as a optical analogue of ultrasound, while OCT has higher resolution (micron meter scale) and sensitivity (nm scale) but smaller penetration depth (~2mm). One application of OCT is a field called optical coherence elastography (OCE), which utilizes OCT to detect the mechanical response of the sample upon perturbation. Therefore, the mechanical properties can be obtained. Many approaches have been proposed for OCE (in-contact or non-contact force excitation, static or dynamic mechanical response, etc), in this study magnetomotive OCE (MM-OCE) was used, where we have a non-contact force excitation induced by an alternating magnetic field and we are typically looking at the dynamic response such as resonance frequency or shear wave propagation velocity. </br></br>
                    In the <a class="anchor" target="_blank" href="../img/project/biophotonics/research1.pdf">paper</a>, a steel microbead was placed on the sample and serve as the force exciatation source. The displacement response of the sample can be imaged through OCT, and then the displacement spectrum can be obtained and hence the resonant frequency (which reflects the mechanical property of the sample).</p>
                <div class="divider"></div>
                <center>
                    <video controls>
                      <source src="../img/project/biophotonics/comsol.mp4" type="video/mp4">
                      <source src="movie.ogg" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                </center>
                <div class="divider"></div>
                <p class="article">My work involved reading the research papers and understanding what the actual research was about. That took up a majority of my time. Understanding parts of the research without any background in the topic was a challenge. After that I summarized what I understood in my own terms and confirmed it with the Graduate student I was working under. Finally my contribution to the project was designing simulations in a software called COMSOL Multiphysics. The video on the top is a clip from the start of my project. Even this involved reading a lot of documentation and understanding how the software actually works and how to use it to the benifit of the research. </br></br>
                    It was a productive summer and I learnt a lot about how research works. I would like to work on more research projects in the future.
                </p>
                <div class="divider"></div>
                <p class="section-title">Try it out</p>
                <p class="article">
                    <a class="anchor" target="_blank" href="http://biophotonics.illinois.edu">Lab Website</a></br>
                    <a class="anchor" target="_blank" href="../assets/biophotonics_notes.pdf">Notes</a></br>
                </p>
                <div class="divider"></div>
                <p class="section-title">More Projects</p>
                <p class="project-index">
                    <a class="anchor" href="/project/ballot">Ballot</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/runistics">Runistics</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/leapflix">Leapflix</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/broker">Broker</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/task">Task.</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/musify">Musify</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/moviebot">Moviebot</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/homograph">IDN Homograph Detector</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/encryptr">Encryptr</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                </p>
                <div class="bot"></div>
            </div>
                <footer class="footerX">
                    <hr>
                    <p>&copy; Yash Agrawal
                        <span class="social">
                            <a href="https://facebook.com/yagrawl"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://github.com/yagrawl"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
                            <a href="https://instagram.com/yagrawl"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
                            <a href="https://medium.com/@yagrawl"><i class="fa fa-2x fa-medium" aria-hidden="true"></i></a>
                            <a href="https://linkedin.com/in/yagrawl"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </footer>

            <!--jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../js/script.js"></script>

            <!--Font Awesome -->
            <script src="https://use.fontawesome.com/8c86fcede2.js"></script>

            <!--JavaScript Bootstrap -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
