<!doctype html>
<html>
    <head>

        <title>Broker</title>

        <!-- SEO and mobile format declarations -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Yash Agrawal | Project/Broker">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="../img/webicon.png" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="../css/main.css" rel="stylesheet">
        <link href="../css/project.css" rel="stylesheet">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65874311-9"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-65874311-9');
        </script>


    </head>
    <body>
        <div class="no-overflow">
            <div class="content">
                <div class="header">
                    <a class="anchor" href="/"><p><strong>YASH</strong> AGRAWAL</a>
                        <span class="links"><a class="anchor" href="/about">About</a></span>
                        <span class="links"><a class="anchor" href="/work"> Work</a></span>
                    </p>
                </div>
                <p class="project-title">Broker</p>
                <p class="project-subtitle">A simulation of a stock broking app</p>
            </div>
            <img class="background img-responsive" src="../img/project/broker/background.png">
            <div class="content">
                <p class="section-title">Inspiration</p>
                <p class="article">I started using an app called Robinhood. I invested $2000 to start with and invested in a few companies that I trusted. It was going good but it was just more stress. I'm a college student and I don't earn anything at this point so I had to find a better way to remove all the anxiety and also learn how to trade.
                </br></br>
                    This is mostly an idea at the moment but I think I have some things figured out on how it would look like and what APIs it would use. I looked around and there were no APIs around that provided stock data. Google's Finance API deprecated somewhere around 2011 and Yahoo! didn't have one for public use. I finally found Quandl API that just provided EOD data and that was fine by me, just for the sake of the project.
                    This is a work in Progress. More to Come.
                </p>
                <div class="divider"></div>
                <p class="section-title">Try it out</p>
                <p class="article">
                    <a class="anchor" target="_blank" href="https://github.com/yagrawl/broker">Github</a></br>
                </p>
                <div class="divider"></div>
                <p class="section-title">More Projects</p>
                <p class="project-index">
                    <a class="anchor" href="/project/ballot">Ballot</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/runistics">Runistics</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/leapflix">Leapflix</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/homograph">IDN Homograph Detector</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/task">Task.</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/musify">Musify</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/moviebot">Moviebot</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/encryptr">Encryptr</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                </p>
                <div class="bot"></div>
            </div>
                <footer class="footerX">
                    <hr>
                    <p>&copy; Yash Agrawal
                        <span class="social">
                            <a href="https://facebook.com/yagrawl"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://github.com/yagrawl"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
                            <a href="https://instagram.com/yagrawl"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
                            <a href="https://medium.com/@yagrawl"><i class="fa fa-2x fa-medium" aria-hidden="true"></i></a>
                            <a href="https://linkedin.com/in/yagrawl"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </footer>

            <!--jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../js/script.js"></script>

            <!--Font Awesome -->
            <script src="https://use.fontawesome.com/8c86fcede2.js"></script>

            <!--JavaScript Bootstrap -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
