<!doctype html>
<html>
    <head>

        <title>Leapflix</title>

        <!-- SEO and mobile format declarations -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Resume Builder">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="../img/webicon.png" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="../css/main.css" rel="stylesheet">
        <link href="../css/project.css" rel="stylesheet">

    </head>
    <body>
        <div class="no-overflow">
            <div class="content">
                <div class="header">
                    <a class="anchor" href="/"><p><strong>YASH</strong> AGRAWAL</a>
                        <span class="links"><a class="anchor" href="/about">About</a></span>
                        <span class="links"><a class="anchor" href="/work"> Work</a></span>
                    </p>
                </div>
                <p class="project-title">Leapflix</p>
                <p class="project-subtitle">Chrome extension that skips through intros of popular TV shows on Netflix.</p>
            </div>
            <img class="background img-responsive" src="../img/project/leapflix/background.png">
            <div class="content">

                <div class="divider"></div>
                <p class="section-title">Try it out</p>
                <p class="article">
                    <a class="anchor" target="_blank" href="#">Github</a></br>
                </p>
                <div class="divider"></div>
                <p class="section-title">More Projects</p>
                <p class="project-index">
                    <a class="anchor" href="/project/runistics">Runistics</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/moviebot">Moviebot</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/homograph">IDN Homograph Detector</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/task">Task.</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/musify">Musify</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/broker">Broker</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                </p>
                <div class="bot"></div>
            </div>
                <footer class="footerX">
                    <hr>
                    <p>&copy; Yash Agrawal
                        <span class="social">
                            <a href="https://facebook.com/yagrawl"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://github.com/yagrawl"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
                            <a href="https://instagram.com/yagrawl"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
                            <a href="https://medium.com/@yagrawl"><i class="fa fa-2x fa-medium" aria-hidden="true"></i></a>
                            <a href="https://linkedin.com/in/yagrawl"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </footer>

            <!--jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../js/script.js"></script>

            <!--Font Awesome -->
            <script src="https://use.fontawesome.com/8c86fcede2.js"></script>

            <!--JavaScript Bootstrap -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
