<!doctype html>
<html>
    <head>

        <title>Task.</title>

        <!-- SEO and mobile format declarations -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Yash Agrawal | Project/Task.">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="../img/webicon.png" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="../css/main.css" rel="stylesheet">
        <link href="../css/project.css" rel="stylesheet">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65874311-9"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-65874311-9');
        </script>


    </head>
    <body>
        <div class="no-overflow">
            <div class="content">
                <div class="header">
                    <a class="anchor" href="/"><p><strong>YASH</strong> AGRAWAL</a>
                        <span class="links"><a class="anchor" href="/about">About</a></span>
                        <span class="links"><a class="anchor" href="/work"> Work</a></span>
                    </p>
                </div>
                <p class="project-title">Task.</p>
                <p class="project-subtitle">A todo web application written in vanilla JS.</p>
            </div>
            <img class="background img-responsive" src="../img/project/task/background.png">
            <div class="content">
                <p class="section-title">Inspiration</p>
                <p class="article">Whenever I had a few chapters to read for example, I used to draw circles on a piece of paper and cross them out as I finished each chapter. Just something that got me to work and I used to do it everytime.
                I thought of making it into a web application so I could practice my frontend skills. I wanted to focus on the frontend and didn't really want to bother with database so it was written in HTML, CSS and Vanilla JavaScript. The first step was obviously design.</p>
                <div class="divider"></div>
                <p class="section-title">Design</p>
                <p class="article">I made a high-fidelity prototype in Sketch and that was my guideline to build the app.</p>
                <img src="../img/project/task/prototype.png" class="screenshot img-responsive" width="900px">
                <div class="divider"></div>
                <p class="section-title">Implementation</p>
                <p class="article">The Implementation was driven just like the design and it did make it pretty straight forward. I'll ask the user to name the task, how many tasks and how long they have to do it.
                After that, I wrote Javascript to make the interface as shown above. The final design was just like the design albeit with a few more addition and small changes like background color and font.</p>
                <img src="../img/project/task/final.png" class="screenshot img-responsive" width="900px">
                <p class="article">I changed the background to white and the font from Montserrat to Proxima Nova. I liked the red, so the colors are the same. I also added a progress bar which will be complete
                after all the tasks are done. I also added some animations to the click using animate.css, such as bouncy tasks and rotating logos.</p>
                <div class="divider"></div>
                <p class="section-title">Storage</p>
                <p class="article">I didn't want to use a database or add log in and things like that because this was supposed to be for me to practice frontend. But then again, I needed it to be functional.
                    I used the browser's local storage to save the data of completed tasks and the time and the name of the tasks. Onload I'll check if local storage is defined and recreate the interface with the completed tasks.
                   Otherwise the setup questionnaire is presented. Here's a video of how that works.</p>
                   <div class="img-div"></div>
                <img src="../img/project/task/flow.gif" class="img-responsive" width="900px">
                <div class="divider"></div>
                <p class="section-title">Try it out</p>
                <p class="article">
                    <a class="anchor" target="_blank" href="https://yagrawl.github.io/task">Task.</a></br>
                    <a class="anchor" target="_blank" href="https://github.com/yagrawl/task">Github</a></br>
                </p>
                <div class="divider"></div>
                <p class="section-title">More Projects</p>
                <p class="project-index">
                    <a class="anchor" href="/project/runistics">Runistics</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/moviebot">Moviebot</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/homograph">IDN Homograph Detector</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/leapflix">Leapflix</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/musify">Musify</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/broker">Broker</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                </p>
                <div class="bot"></div>
            </div>
                <footer class="footerX">
                    <hr>
                    <p>&copy; Yash Agrawal
                        <span class="social">
                            <a href="https://facebook.com/yagrawl"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://github.com/yagrawl"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
                            <a href="https://instagram.com/yagrawl"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
                            <a href="https://medium.com/@yagrawl"><i class="fa fa-2x fa-medium" aria-hidden="true"></i></a>
                            <a href="https://linkedin.com/in/yagrawl"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </footer>

            <!--jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../js/script.js"></script>

            <!--Font Awesome -->
            <script src="https://use.fontawesome.com/8c86fcede2.js"></script>

            <!--JavaScript Bootstrap -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
