<!doctype html>
<html>
    <head>

        <title>UI Challenge</title>

        <!-- SEO and mobile format declarations -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Yash Agrawal | Project/UI Challenge">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="../img/webicon.png" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="../css/main.css" rel="stylesheet">
        <link href="../css/project.css" rel="stylesheet">

    </head>
    <body>
        <div class="no-overflow">
            <div class="content">
                <div class="header">
                    <a class="anchor" href="/"><p><strong>YASH</strong> AGRAWAL</a>
                        <span class="links"><a class="anchor" href="/about">About</a></span>
                        <span class="links"><a class="anchor" href="/work"> Work</a></span>
                    </p>
                </div>
                <p class="project-title">100 Day UI Challenge</p>
                <p class="project-subtitle">An interface everyday for a 100 days.</p>
            </div>
            <img class="background img-responsive" src="../img/project/uichallenge/background.png">
            <div class="content">
                <p class="section-title">Inspiration</p>
                <p class="article">I was interested in design and I wanted to learn how to use a few tools to create user interfaces.
                    I purchased Affinity Designer for Mac and Sketch and decided to make as many
                    interfaces as possible from the 100 day challenges to practice.</p>
                <div class="divider"></div>
                <p class="section-title">Designs</p>
                <img src="../img/project/uichallenge/1.png" style="display:block; margin: auto;" width="100px;">
                <p class="article"><strong>Prompt</strong>:</br> Design a sign up page, modal, form, app screen, etc.</p>
                <p class="article"><strong>Approach</strong>:</br> Inspired by the idea of space, I tried to incorporate light colors with some grpahics relating to the topic.</p>
                <div class="img-div"></div>
                <img src="../img/project/uichallenge/1 - Signup.png" style="display:block; margin: auto;" width="500px;" class="img-responsive">
                <div class="divider"></div>

                <img src="../img/project/uichallenge/2.png" style="display:block; margin: auto;" width="100px;">
                <p class="article"><strong>Prompt</strong>:</br> Design a credit card checkout form or page. Don't forget the important elements such as the numbers, dates, security numbers, etc.</p>
                <p class="article"><strong>Approach</strong>:</br> I like running and shoes were the most obvious choice for a product. I love the font credit card companies use to print numbers on the card so I thought that would be intuitive to the user.</p>
                <div class="img-div"></div>
                <img src="../img/project/uichallenge/2 - checkout.png" style="display:block; margin: auto;" width="900px;" class="img-responsive">
                <div class="divider"></div>

                <img src="../img/project/uichallenge/3.png" style="display:block; margin: auto;" width="100px;">
                <p class="article"><strong>Prompt</strong>:</br> Landing Page. Hint: What's the main focus? Is it for a book, an album, a mobile app, a product? Consider important landing page elements (call-to-actions, clarity, etc.)</p>
                <p class="article"><strong>Approach</strong>:</br> I was trying to learn meteorJS at that moment so I tried to basically replicate that on a similar idea.</p>
                <div class="img-div"></div>
                <img src="../img/project/uichallenge/3 - Launch Page.png" style="display:block; margin: auto;" width="900px;" class="img-responsive">
                <div class="divider"></div>

                <img src="../img/project/uichallenge/4.png" style="display:block; margin: auto;" width="100px;">
                <p class="article"><strong>Prompt</strong>:</br> Design a calculator. Standard, scientific, or specialty calculator for something such as a mortgage? Is it for a phone, a tablet, a web app? (It's up to you!)</p>
                <p class="article"><strong>Approach</strong>:</br> I was taking PHYS 213 and we were just taught about heat transfer so that was the first thing that came to my mind. I tried to use heat specific colors to better enhance the experience.</p>
                <div class="img-div"></div>
                <img src="../img/project/uichallenge/4 - Calculator.png" style="display:block; margin: auto;" width="500px;" class="img-responsive">
                <div class="divider"></div>

                <img src="../img/project/uichallenge/5.png" style="display:block; margin: auto;" width="100px;">
                <p class="article"><strong>Prompt</strong>:</br> Design an app icon. What best represents the brand or product? Or is it incredibly unique? Does it look great at a distance and does it stand out when put on your home screen alongside other apps?</p>
                <p class="article"><strong>Approach</strong>:</br> I had an idea about making a run based betting app, so this basically serves as an app icon for that.</p>
                <div class="img-div"></div>
                <img src="../img/project/uichallenge/5 - app Icon.png" style="display:block; margin: auto;" width="500px;" class="img-responsive">
                <div class="divider"></div>

                <img src="../img/project/uichallenge/6.png" style="display:block; margin: auto;" width="100px;">
                <p class="article"><strong>Prompt</strong>:</br> Design a user profile and be mindful of the most important data, names, imagery, placement, etc. Is it for a serious profile? A social profile? (It's up to you!)</p>
                <p class="article"><strong>Approach</strong>:</br> I tried to make a user profile for a band instead because I browsed through dribble for this challenge and almost every other person had the same thing.</p>
                <div class="img-div"></div>
                <img src="../img/project/uichallenge/6 - Profile.png" style="display:block; margin: auto;" width="500px;" class="img-responsive">
                <div class="divider"></div>

                <img src="../img/project/uichallenge/7.png" style="display:block; margin: auto;" width="100px;">
                <p class="article"><strong>Prompt</strong>:</br> Design settings for something. Is it for security or privacy settings? Game settings? What is it and what's important? (It's up to you!)</p>
                <p class="article"><strong>Approach</strong>:</br> This is a weird settings app for a plane reservation app. It has a lot of uncommon features but the UI is kind of similar to the iPhone settings app.</p>
                <div class="img-div"></div>
                <img src="../img/project/uichallenge/7 - Settings.png" style="display:block; margin: auto;" width="500px;" class="img-responsive">
                <div class="divider"></div>

                <img src="../img/project/uichallenge/8.png" style="display:block; margin: auto;" width="100px;">
                <p class="article"><strong>Prompt</strong>:</br> Design a 404 page. Does it suit the brand's style? Is it user-friendly? (It's up to you!)</p>
                <p class="article"><strong>Approach</strong>:</br> Building on to the Space theme from Challenge #01, this is kind of a lost in space design. Same colors with graphics to emphasize the purpose.</p>
                <div class="img-div"></div>
                <img src="../img/project/uichallenge/8 - 404 Page.png" style="display:block; margin: auto;" width="900px;" class="img-responsive">
                <div class="divider"></div>

                <img src="../img/project/uichallenge/9.png" style="display:block; margin: auto;" width="100px;">
                <p class="article"><strong>Prompt</strong>:</br> Design a music player. Consider the controls, placements, imagery such as the artist or album cover, etc.</p>
                <p class="article"><strong>Approach</strong>:</br> The design is pretty standard actually, just with a voice form according to the status of the song. The bright colors seem up with the dark background.</p>
                <div class="img-div"></div>
                <img src="../img/project/uichallenge/9 - Music Player.png" style="display:block; margin: auto;" width="500px;" class="img-responsive">
                <div class="divider"></div>

                <img src="../img/project/uichallenge/10.png" style="display:block; margin: auto;" width="100px;">
                <p class="article"><strong>Prompt</strong>:</br> Design a social share button/icon and be mindful of the size, imagery, placement, and purpose for sharing. (As always, it's up to you!)</p>
                <p class="article"><strong>Approach</strong>:</br> I thought of making this one interactive because no one wants to see a bunch of share signs at each post. I don't really have much knowledge of interaction design using Framer or Sketch, so that's what I stopped here to get an idea of those skills.</p>
                <div class="img-div"></div>
                <img src="../img/project/uichallenge/10 - Share Icon.png" style="display:block; margin: auto;" width="800px;" class="img-responsive">
                <div class="divider"></div>

                <p class="article">At this point I decided I also wanted to learn how to make interfaces rather than just design them and I started getting into Frontend Development.</p>

                <div class="divider"></div>
                <p class="section-title">Try it out</p>
                <p class="article">
                    <a class="anchor" target="_blank" href="https://www.dribbble.com/yagrawl">Dribbble</a></br>
                </p>
                <div class="divider"></div>
                <p class="section-title">More Projects</p>
                <p class="project-index">
                    <a class="anchor" href="/project/runistics">Runistics</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/leapflix">Leapflix</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/broker">Broker</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/task">Task.</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/musify">Musify</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/moviebot">Moviebot</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a class="anchor" href="/project/homograph">IDN Homograph Detector</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                </p>
                <div class="bot"></div>
            </div>
                <footer class="footerX">
                    <hr>
                    <p>&copy; Yash Agrawal
                        <span class="social">
                            <a href="https://facebook.com/yagrawl"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://github.com/yagrawl"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
                            <a href="https://instagram.com/yagrawl"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
                            <a href="https://medium.com/@yagrawl"><i class="fa fa-2x fa-medium" aria-hidden="true"></i></a>
                            <a href="https://linkedin.com/in/yagrawl"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </footer>

            <!--jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../js/script.js"></script>

            <!--Font Awesome -->
            <script src="https://use.fontawesome.com/8c86fcede2.js"></script>

            <!--JavaScript Bootstrap -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
