<html>
    <head>

        <title>Runistics</title>

        <!-- SEO and mobile format declarations -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Resume Builder">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="../img/webicon.png" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="../css/main.css" rel="stylesheet">

    </head>
    <body>
        <div class="no-overflow">
            <footer class="footer"><p>&copy; Yash Agrawal</p></footer>

            <!--jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../js/script.js"></script>

            <!--Font Awesome -->
            <script src="https://use.fontawesome.com/8c86fcede2.js"></script>

            <!--JavaScript Bootstrap -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
