<!doctype html>
<html>
    <head>

        <title>Yash | Work</title>

        <!-- SEO and mobile format declarations -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Yash Agrawal | Work">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="../img/webicon.png" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="../css/main.css" rel="stylesheet">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65874311-9"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-65874311-9');
        </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65874311-9"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-65874311-9');
        </script>


    </head>
    <body>
        <div class="no-overflow">
            <div class="content">
                <div class="header">
                    <a class="anchor" href="/"><p><strong>YASH</strong> AGRAWAL</a>
                        <span class="links"><a class="anchor" href="/about">About</a></span>
                        <span class="links"><a class="anchor" href="/work"> Work</a></span>
                    </p>
                </div>
                <div class="experience">
                    <p class="title">Experience</p>
                    <div class="company">
                        <div class="company-left">
                            <a href="https://braintreepayments.com" target="_blank"><img src="../img/braintree.png" width="200px"></a>
                            <p class="time">Software Engineering Intern</br>
                            <span style="font-size:10px">Summer 2018 · SAN FRANCISCO, CA</span></p>
                        </div>
                        <div class="timeline">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="300px" viewBox="0 0 50 300" version="1.1" class="discover-line">
                            <defs>
                                <polygon id="path-1" points="33.86 34 33.86 0.14 0 0.14 0 34"></polygon>
                                <polygon id="path-3" points="33.86 34 33.86 0.14 0 0.14 0 34"></polygon>
                            </defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Line">
                                    <path d="M39,0 C39,39.227 15,39.227 15,78.456 C15,117.684 39,117.684 39,156.911 C39,196.138 15,196.138 15,235.363 C15,274.593 39,274.593 39,313.819 C39,353.049 15,353.049 15,392.277 C15,431.507 39,431.507 39,470.739 C39,509.971 15,509.971 15,549.201" id="template" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-dashoffset="300" stroke-dasharray="0,8"></path>
                                    <path d="M39,0 C39,39.227 15,39.227 15,78.456 C15,117.684 39,117.684 39,156.911 C39,196.138 15,196.138 15,235.363 C15,274.593 39,274.593 39,313.819 C39,353.049 15,353.049 15,392.277 C15,431.507 39,431.507 39,470.739 C39,509.971 15,509.971 15,549.201" id="dotted-line" stroke="#787878" stroke-width="2" stroke-dasharray="0,8" style="stroke-dasharray: 320px; stroke-dashoffset: 320px; stroke: #787878;"></path>
                                </g>
                            </g>
                            </svg>
                        </div>
                        <div class="company-right">
                            <a href="https://mastercard.com" target="_blank"><img src="../img/mastercard.png" width="200px"></a>
                            <p class="time">Frontend Engineering Intern</br>
                            <span style="font-size:10px">Summer 2017 · ST. LOUIS, MO</span></p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="projects">
                    <p class="title">Projects</p>
                    <div class="selected-projects">
                        <div class="selected-project">
                            <a href="project/runistics"><img class="cropper shadow experience-image-img" src="../img/runistics.png"></a>
                            <div class="description">
                                <p class="project-title description-margin">Runistics</p>
                                <p class="project-description">A fullstack web application to keep track of running data from strava and nike+ running.</p>
                            </div>
                        </div>
                        <div class="selected-project project-2">
                            <a href="project/homograph"><img class="cropper shadow experience-image-img" src="../img/homograph.png"></a>
                            <div class="description">
                                <p class="project-title">IDN Homograph Detector</p>
                                <p class="project-description">A database project that lists potential homographs of an existing domain and checks for its DNS records.</p>
                            </div>
                        </div>
                        <div class="after-box"></div>
                        <div class="selected-project">
                            <a href="project/musify"><img class="cropper shadow experience-image-img" src="../img/musify.png"></a>
                            <div class="description">
                                <p class="project-title description-margin">Musify</p>
                                <p class="project-description">A CLI tool that recognises the mood of the video to find appropriate background score.</p>
                            </div>
                        </div>
                        <div class="selected-project project-2">
                            <a href="project/moviebot"><img class="cropper shadow experience-image-img" src="../img/moviebot.png"></a>
                            <div class="description">
                                <p class="project-title">Moviebot</p>
                                <p class="project-description">A messenger bot powered by Google’s Dialogflow that recommends movies.</p>
                            </div>
                        </div>
                        <div class="after-box"></div>
                        <div class="selected-project">
                            <a href="project/leapflix"><img class="cropper shadow experience-image-img" src="../img/leapflix.png"></a>
                            <div class="description">
                                <p class="project-title">Leapflix</p>
                                <p class="project-description">A chrome extension that skips through intros of popular TV shows on Netflix. </p>
                            </div>
                        </div>
                        <div class="selected-project project-2">
                            <a href="project/task"><img class="cropper shadow experience-image-img" src="../img/task.png"></a>
                            <div class="description">
                                <p class="project-title">Task</p>
                                <p class="project-description">A todo web application written in vanilla JS. Uses the browser's local storage to keep track of tasks. </p>
                            </div>
                        </div>
                    </div>
                    <div class="after-box"></div>
                    <div class="selected-project">
                        <a href="project/broker"><img class="cropper shadow experience-image-img" src="../img/broker.png"></a>
                        <div class="description">
                            <p class="project-title">Broker</p>
                            <p class="project-description">A simulation of a stock broking app to be used as a paper trading platform.  </p>
                        </div>
                    </div>
                    <div class="selected-project project-2">
                        <a href="project/encryptr"><img class="cropper shadow experience-image-img" src="../img/encryptr.png"></a>
                        <div class="description">
                            <p class="project-title">Encryptr.</p>
                            <p class="project-description">A node.js webapp to encrypt/decrypt using the blowfish algorithm. </p>
                        </div>
                    </div>
                </div>
                <div class="after-box"></div>
                <div class="projects">
                    <p class="title">More Projects</p>
                    <div class="more-projects">
                        <div class="more-project">
                            <a target="_blank" href="https://yagrawl.github.io/resume/"><img class="more-project-img" src="img/resume.png">
                            <p class="more-project-title">Resume Template</p>
                            <p class="more-project-description">An original resume template design written in HTML, CSS and JS. Printer Friendly with an interface for any resume.</p></a>
                        </div>
                        <div class="more-project project-2">
                            <a href="https://yagrawl.github.io/Upside-Down/" target="_blank"><img class="more-project-img" src="img/upsidedown.png">
                            <p class="more-project-title">UpsideDown</p>
                            <p class="more-project-description">A web application inspired by Stranger Things on Netflix. Could be used to send disappearing text messages in lights.</p></a>
                        </div>
                        <div class="after-box"></div>
                        <div class="more-project">
                            <a target="_blank" href="https://yagrawl.github.io/MusicMatch/"><img class="more-project-img" src="img/musicmatch.png">
                            <p class="more-project-title">MusicMatch</p>
                            <p class="more-project-description">A webapp that uses Facebook’s GraphAPI to get a users favorite artists and matches them with their friends who share similar interests.</p></a>
                        </div>
                        <div class="more-project project-2">
                            <a href="https://yagrawl.github.io/movieselector" target="_blank"><img class="more-project-img" src="img/movieselector.png">
                            <p class="more-project-title">MovieSelector</p>
                            <p class="more-project-description">A basic JS based webapp that returns a random popular movie and dynamically generates more information about the movie.</p></a>
                        </div>
                        <div class="after-box"></div>
                        <div class="more-project">
                            <img class="more-project-img" src="img/gradscore.png">
                            <p class="more-project-title">Gradscore</p>
                            <p class="more-project-description">An analysis of graduate school acceptance data collected by scraping thegradcafe.com using beautifulSoup.</p>
                        </div>
                        <div class="more-project project-2">
                            <a href="project/uichallenge"><img class="more-project-img" src="img/uichallenge.png">
                            <p class="more-project-title">UI Challenge</p>
                            <p class="more-project-description">An attempt at the popular 100 day UI Challenge to practice sketch. Only 10 days done so far.</p></a>
                        </div>
                        <div class="after-box"></div>
                        <div class="more-project">
                            <a href="project/biophotonics"><img class="more-project-img" src="img/bil.png">
                            <p class="more-project-title">Biophotonics</p>
                            <p class="more-project-description">A research project in Biophotonics Imaging Laboratory during the summer of Freshman year. Deals with MM-OCT.</p></a>
                        </div>
                        <div class="more-project project-2">
                            <a href="https://yagrawl.github.io/refugee" target="_blank"><img class="more-project-img" src="img/refugee.png">
                            <p class="more-project-title">ARTD 313</p>
                            <p class="more-project-description">A website made as a project for a design course. The theme was ‘Social Issues’ and this is based on the refugee crisis. </p></a>
                        </div>
                    </div>
                    <div class="after-box"></div>
                </div>
                <div class="after-box"></div>
                <div class="projects">
                    <p class="title">Blog</p>
                    <div class="blog-list">
                        <a href="https://codeburst.io/parameters-arguments-in-javascript-eb1d8bd0ef04" target="_blank">
                            <img class="blog img-responsive shadow cropper" src="../img/parameters.png">
                        </a>
                        <a href="https://codeburst.io/generators-in-javascript-1a7f9f884439" target="_blank">
                            <img class="blog img-responsive shadow cropper" src="../img/generators.png">
                        </a>
                        <a href="https://codeburst.io/declaring-variables-in-es6-javascript-60ea37e38765" target="_blank">
                            <img class="blog img-responsive shadow cropper" src="../img/variables.png">
                        </a>
                        <a href="https://codeburst.io/hoisting-in-javascript-515c987336d3" target="_blank">
                            <img class="blog img-responsive shadow cropper" src="../img/hoisting.png">
                        </a>
                    </div>
                </div>
                <div class="projects">
                    <p class="title">Research</p>
                    <a href="../assets/The Influence of Design Representations on the Generation of Feedback.pdf" target="_blank" class="anchor">
                        <p class="project-title" style="margin-left:50px; color: black">CS 565/HCI</p>
                        <p class="research">The Influence of Design Representations on the Generation of Feedback</p>
                    </a>
                </div>
            </div>
            <footer class="footerX">
                <hr>
                <p>&copy; Yash Agrawal
                    <span class="social">
                        <a href="https://facebook.com/yagrawl"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://github.com/yagrawl"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
                        <a href="https://instagram.com/yagrawl"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://medium.com/@yagrawl"><i class="fa fa-2x fa-medium" aria-hidden="true"></i></a>
                        <a href="https://linkedin.com/in/yagrawl"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
                    </span>
                </p>
            </footer>

            <script>
                var position = 0;
                var ticking = false;
                window.addEventListener('scroll', function(e) {
                    position = window.scrollY;
                    if (!ticking) {
                        window.requestAnimationFrame(function() {
                          moveTimeline(position);
                          ticking = false;
                        });
                        ticking = true;
                    }
                });
            </script>

            <!--jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../js/script.js"></script>

            <!--Font Awesome -->
            <script src="https://use.fontawesome.com/8c86fcede2.js"></script>

            <!--JavaScript Bootstrap -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
