/* Importing Fonts
     Proxima Nova : 100 200 300 400
*/
@font-face {
    font-family: Proxima Nova;
    src: url('fonts/ProximaNovaThin.otf');
    font-weight: 100;
}

@font-face {
    font-family: Proxima Nova;
    src: url('fonts/ProximaNovaAltRegular.otf');
    font-weight: 200;
}

@font-face {
    font-family: Proxima Nova;
    src: url('fonts/ProximaNovaSemibold.otf');
    font-weight: 300;
}

@font-face {
    font-family: Proxima Nova;
    src: url('fonts/Proxima Nova Semibold.otf');
    font-weight: 400;
}

/* Preventing overflow on phone */
.no-overflow {
    overflow-x: hidden !important;
}

a {
    text-decoration: none !important;
}

.content {
    max-width: 900px;
    margin: 30px auto;
}

/* Header
     p : main-name header
     span : links - Work About
*/
.header {
    height: 80px;
}

.header > p {
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 100;
    color: #282C34;
    margin-left: 30px;
    margin-top: 10px;
}

span.links {
    float: right;
    margin-right: 30px;
    font-weight: 100;
    font-size: 20px;
}

/* Anchor tag styling + animation */
.anchor {
    color: #282C34;
    text-decoration: none !important;
}

.anchor:hover {
    animation: uline 0.10s linear 1 forwards;
    -webkit-animation: uline 0.10s linear 1 forwards;
    -moz-animation: uline 0.10s linear 1 forwards;
    -o-animation: uline 0.10s linear 1 forwards;
}

@-webkit-keyframes uline {
    0% {border-bottom: 0.5px solid #FF595C;}
    50% {border-bottom: 1px solid #FF595C;}
    75% {border-bottom: 1.5px solid #FF595C;}
    100% {border-bottom: 2px solid #FF595C;}
}

@keyframes uline {
    0% {border-bottom: 0.5px solid #FF595C;}
    50% {border-bottom: 1px solid #FF595C;}
    75% {border-bottom: 1.5px solid #FF595C;}
    100% {border-bottom: 2px solid #FF595C;}
}

@-moz-keyframes uline {
    0% {border-bottom: 0.5px solid #FF595C;}
    50% {border-bottom: 1px solid #FF595C;}
    75% {border-bottom: 1.5px solid #FF595C;}
    100% {border-bottom: 2px solid #FF595C;}
}

@-o-keyframes uline {
    0% {border-bottom: 0.5px solid #FF595C;}
    50% {border-bottom: 1px solid #FF595C;}
    75% {border-bottom: 1.5px solid #FF595C;}
    100% {border-bottom: 2px solid #FF595C;}
}

/* Intro Text */

.intro {
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 100;
    color: #282C34;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
}

.intro > a.bottom {
    border-bottom: 0.5px solid #8F8F8F;
}

.title {
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 100;
    color: #EC4A2C;
    margin-left: 35px;
}

.experience {
    width: 100%;
}

.company {
    height: 300px;
}

.company-left {
    float: left;
    width: 30%;
    margin-left: 15%;
    margin-top: 50px;
}

.company-right {
    float: left;
    width: 30%;
    margin-right: 15%;
    margin-top: 150px;
}

.timeline {
    float: left;
    width: 10%;
}

.time {
    margin-top: 8px;
    font-family: Proxima Nova;
    font-size: 12px;
    font-weight: 100;
    color: #282C34;
}

.clear {
    clear: both;
}

@media screen and (max-width: 700px) {
    .company-left {
        width: 100%;
        margin-left: 20%;
        margin-top: 50px;
    }

    .company-right {
        width: 100%;
        margin-left: 20%;
        margin-top: 50px;
    }

    .timeline {
        display: none;
    }
}

.experience-image-img {
    max-width: 250px;
    margin-left: 30px;
}

.projects {
    margin-top: 50px;
    width: 100%;
}

.project-title {
    font-family: 'Proxima Nova';
    font-size: 24px;
    font-weight: 100;
    color: #EC4A2C;
}

.project-description {
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 100;
    color: #1F1F1F;
    width: 250px;
}

.after-box {
    clear: left;
    margin-bottom: 50px;
}

.selected-projects {
    margin: 50px auto;
}

.selected-project {
    float: left;
    width: 50%;
}

.description {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}

@media screen and (max-width: 730px) and (min-width: 405px){
    .selected-project {
        float: left;
        width: 300px;
        margin-left: 30px;
    }

    .project-2 {
        margin-top: 0px;
    }

    .description {
        float: left;
        margin-top: 20px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 404px){
    .selected-project {
        float: left;
        width: 300px;
        margin-left: 30px;
    }

    .project-2 {
        margin-top: 20px;
    }

    .description {
        float: left;
        margin-top: 20px;
        margin-left: 30px;
    }
}

.selected-project > img {
    width: 250px;
    margin-left: 30px;
}

.selected-project > p {
    width: 270px;
    margin-left: 30px;
    margin-top: 20px;
}

.cropper {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* on hover shadow */
.shadow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    -webkit-filter: saturate(100%); /* Safari 6.0 - 9.0 */
    filter: saturate(100%);
}

/* Transition to a bigger shadow on hover */
.shadow:hover {
    box-shadow: 0 15px 15px rgba(0,0,0,0.3);
    -webkit-transform:scale(1.02); /* Safari and Chrome */
    -moz-transform:scale(1.02); /* Firefox */
    -ms-transform:scale(1.02); /* IE 9 */
    -o-transform:scale(1.02); /* Opera */
    transform:scale(1.02);
    -webkit-filter: saturate(0%);
    filter: saturate(0%);
}

.more-projects {
    margin: 50px auto;
}

.more-project {
    float: left;
    width: 50%;
}

.more-project-img {
    display: inline-block;
    width: 40px;
    margin-left: 30px;
}

.more-project-title {
    display: inline-block;
    font-family: 'Proxima Nova';
    font-size: 24px;
    font-weight: 200;
    color: #1F1F1F;
}

.more-project-description {
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 100;
    color: #1F1F1F;
    width: 270px;
    margin-left: 30px;
}

@media screen and (max-width: 730px) and (min-width: 405px){
    .more-project {
        float: left;
        width: 300px;
    }

}

@media screen and (max-width: 404px){
    .more-project {
        float: left;
        width: 100%;
        margin-left: 50px;
    }

    .project-2 {
        margin-top: 50px;
    }

    .more-project-img {
        display: inline-block;
        width: 40px;
        margin-left: 10px;
    }

    .more-project-description {
        font-family: 'Proxima Nova';
        font-size: 18px;
        font-weight: 100;
        color: #1F1F1F;
        width: 220px;
        margin-left: 10px;
    }
}

.blog {
    width: 600px;
    margin: 20px auto;
}

.blog-list {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 730px) and (min-width: 405px){
    .blog {
        width: 400px;
        margin: 20px auto;
    }
}

@media screen and (max-width: 404px){
    .blog {
        width: 300px;
        margin: 20px auto;
    }
}

.research {
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 100;
    color: #1F1F1F;
    margin-left: 50px;
    margin-right: 50px;
}
/* Footer
     span.social : font-awesome
     i : font-spacing for social
*/
.footer {
    position: fixed;
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
}

.footerX {
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

.footer > p, .footerX > p {
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 100;
    color: #8F8F8F;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

span.social {
    float: right;
    margin-right: 30px;
    font-size: 10px;
    margin-bottom: 10px;
}

i {
    color: #8F8F8F;
    margin-right: 8px;
}

i:hover {
    color: #FF595C;
}
